img {
  border-radius: 50%;
  display: block;
  margin: auto;
}

.botoes {
  background-color: pink;
  width: 300px;
  height: 370px;
  margin: auto;
  padding: 2rem;
}

.botoes1,
.botoes2,
.botoes3 {
  display: flex;
  justify-content: center;
}

p {
  padding: 10px;
  background-color: rgb(238, 140, 156);
  margin: 1rem;
  cursor: pointer;
}

h1{
  text-align: center;
}
